@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

/************************************************************ SCROLL BAR **********************************************************************/
::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
  
    background-color: transparent;
    
  }  
  ::-webkit-scrollbar-thumb {
    background-color: #1d1b31;
 
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #11101D;
  }

  /***************************************************** NAVIGATION BAR ************************************************************************/
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  
  body{
    min-height: 100vh;
  }
  
  .section-main{
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 100px;
  }
  
  .section-main h1{
    color: rgba(255, 255, 255, 0.5);
    font-size: 60px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 80px;
  }
  
  header{
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 8em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
    transition: 0.6s;
  }
  
 header .logo_nav{
    width: 80px !important;
    height: auto;
}

header.sticky{
    background: #0F2763;
    padding: 15px 100px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
  
header .brand{
    color: #FFFF;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    margin-left: -30% ;
}
  
  header .menu{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  header .menu a{
    color: #FFFF;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    margin: 0 30px;
    padding: 0 10px;
    border-radius: 20px;
    transition: all 0.9s ease;
    transition-property: color, background;
  }
  
  header .menu .active{
    color: #FFF44F;
  }
  
  header .menu a:hover{
    color: #11101D;
    background: #FFF44F;
  }
  
  header .btn{
    color: #FFFF;
    font-size: 25px;
    cursor: pointer;
    display: none;
  }
  
  .section-two{
    min-height: 100vh;
    background: #001018;
    padding: 20px 100px;
  }
  
  .section-two h2{
    color: rgba(255, 255, 255, 0.5);
    font-size: 50px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 30px 0;
  }
  
  .section-two p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 18px;
    margin: 30px 0;
  }
  /*
  @media (max-width: 400px) {
    header .menu{
        position: fixed;
        background: #0F2763;
        flex-direction: column;
        min-width: 400px;
        height: 100vh;
        top: 0;
        right: 100%;
        padding: 80px 50px;
        transition: 0.5s;
        transition-property: right;
      }
    header .menu .close-btn{
        position: absolute;
        top: 0;
        left: 8%;
        margin: 30px;
      }
    header .btn{
        margin-right: -50%;
      }
  }

  @media (max-width: 1060px){
    header .btn{
      display: block;
    }
  
    header .menu{
      position: fixed;
      background: #0F2763;
      flex-direction: column;
      min-width: 400px;
      height: 100vh;
      top: 0;
      right: -108%;
      padding: 80px 50px;
      transition: 0.5s;
      transition-property: right;
    }
  
    header .menu.active{
      right: 0;
    }
  
    header .menu .close-btn{
      position: absolute;
      top: 0;
      left: 1%;
      margin: 30px;
    }
  
    header .menu a{
      display: block;
      font-size: 20px;
      margin: 20px;
      padding: 0 15px;
    }
  }*/
  
  @media screen and (min-width:320px) and (max-width:480px){ /*mobile phone*/
    header .btn{
      display: block;
      left: 5% !important;
    }
  
    header .menu{
      position: fixed;
      background: #0F2763;
      flex-direction: column;
      min-width: 100vw;
      height: 100vh;
      top: 0;
      right: -115%;
      padding: 80px 50px;
      transition: 0.5s;
      transition-property: right;
    }
  header .logo_nav{
    margin-left: -100%;
    margin-right: 15px;
    width: 70px !important;
  } 
  header .brand{
    font-size: 1.1rem;
    margin-left: -50%;
  }
  header .menu.active{
    right: 0;
  }
  header .btn{
    margin-right: -40%;
  }
  header .menu .close-btn{
      position: absolute;
      top: 0;
      left: 1%;
      margin: 30px;
  }
  header .menu a{
      display: block;
      font-size: 20px;
      margin: 20px;
      padding: 0 15px;
  }
  }
  @media screen and (min-width:481px) and (max-width:768px){/*ipad*/
    header .btn{
      display: block;
    }
  
    header .menu{
      position: fixed;
      background: #0F2763;
      flex-direction: column;
      min-width: 50vw;
      height: 100vh;
      top: 0;
      right: -115%;
      padding: 80px 50px;
      transition: 0.5s;
      transition-property: right;
    }
  header .logo_nav{
    margin-left: -70%;
    margin-right: 15px;
    width: 70px !important;
  } 
  header .brand{
    font-size: 1.3rem;
    margin-left: -20%;
  }
  header .menu.active{
    right: 0;
  }
  header .menu .close-btn{
      position: absolute;
      top: 0;
      left: 1%;
      margin: 30px;
  }
  header .menu a{
      display: block;
      font-size: 20px;
      margin: 20px;
      padding: 0 15px;
  }
  }

@media screen and (min-width:769px) and (max-width:1024px){/*tablet*/
  header .btn{
    display: block;
  }

header .menu{
    position: fixed;
    background: #0F2763;
    flex-direction: column;
    min-width: 50vw;
    height: 100vh;
    top: 0;
    right: -115%;
    padding: 80px 50px;
    transition: 0.5s;
    transition-property: right;
  }
header .logo_nav{
  margin-left: -70%;
  margin-right: 15px;
  width: 70px !important;
} 
header .brand{
  font-size: 2.5rem;
  margin-left: -20%;
}
header .menu.active{
  right: 0;
}
header .menu .close-btn{
    position: absolute;
    top: 0;
    left: 1%;
    margin: 30px;
}
header .menu a{
    display: block;
    font-size: 20px;
    margin: 20px;
    padding: 0 15px;
}
}

@media screen and (min-width:1025px) and (max-width:1700px){/*small screen laptop*/
  header .brand{
    font-size: 1.5rem;
    margin-left: -20%;
  }
}
/****************************************************** FOR MOVING BG IMAGE IN LANDING PAGE **********************************************/  
.banner{
  display: inline-block;
  color: #11101D;
  font-size: 25px;
  font-weight: 500;
  margin: 18px
}
@media (max-width: 900px) {
  .sidebar li .tooltip{
    display: none;
    }
}
.header{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100vh;
    position: relative;
    perspective: 100rem;
    overflow: hidden;
}
.img-wrapper{
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .8);
    overflow: hidden;
}
.img-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
    animation: scale 100s;
}
@keyframes scale {
    0%{
        transform: scale(1.2);
    }
    100%{
        transform: scale(1);
    }
}
.banner{
  position: absolute;  
  top: 30%;
  left: 5%;
}
.banner h1{
  font-size: 8vh;
  font-weight: 600;
  color: white;
  width: 100%;
  line-height: 5rem;
  letter-spacing: .1rem;
  text-shadow: 0 .3rem .5rem rgba(0, 0, 0, .4);
  opacity: 0;
  animation: moveBanner 1s .5s forwards;
}
.banner img{
  height: 15rem;
  width: auto;
  animation: moveBanner 1s .5s forwards;
  filter: drop-shadow(rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px);
}

.banner p{
  font-size: 2.5rem;
  color: white;
  width: 65%;
  letter-spacing: .1rem;
  margin-top: 5rem;
  margin-bottom: 3rem;
  text-shadow: 0 .3rem .5rem rgba(0, 0, 0, .4);
  opacity: 0;
  animation: moveBanner 1s .7s forwards; 
  padding-bottom: 10%;
}
.banner a{
  font-family: 'Poppins', sans-serif;
  margin: 2rem 0 0 0;
  padding: 1rem 2.5rem;
  background-color: #0F2763;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  text-transform: uppercase;
  color: #FFF44F;
  font-weight: 500;
  text-shadow: 0 .2rem .4rem rgba(0, 0, 0, .2); 
  text-decoration: none;
  cursor: pointer;
  opacity: 0;
  transition: all 0.5s ease;
  animation: moveBanner 1s .9s forwards; 
}
.banner i{
  bottom: 90%;
}
.button:hover{
  color: white;
  box-shadow: 0 .3rem .5rem rgba(0, 0, 0, .4);
  text-decoration: none;
  background-color: #FFF44F;
  color: #0F2763;
}
@keyframes moveBanner {
 0%{
   transform:translateY(10rem) rotateY(-20deg);     
}   
 100%{
   opacity: 1;
   transform: translateY(0) rotateY(0);
 }
}
/*
@media screen and (max-width: 1000px) {
  .banner{
    justify-content: center;
    text-align: center;
    left: 0;
  }
  .banner h1{
    font-size: 2.1rem;
    text-align: center;
  }
  .banner p{
    font-size: 1.6rem;
    text-align: center;
    width: 100%;
  }
  
}
@media screen and (max-width: 400px) {
  .banner{
    justify-content: center;
    text-align: center;
    left: 0;
  }
  .banner h1{
    font-size: 1.8rem;
    line-height: 1em;
    text-align: center;
  }
  .banner p{
    font-size: 1rem;
    text-align: center;
    width: 100%;
    padding: 1em .5em;
  }
  
}*/

@media screen and (min-width:320px) and (max-width:480px){ /*mobile phone*/
  .banner{
    justify-content: center;
    text-align: center;
    left: 0;
  }
  .banner h1{
    font-size: 1.8rem;
    line-height: 1em;
    text-align: center;
  }
  .banner p{
    font-size: 1rem;
    text-align: center;
    width: 100%;
    padding: 1em .5em;
  }
}
@media screen and (min-width:481px) and (max-width:768px){/*ipad*/
  .banner{
    justify-content: center;
    text-align: center;
    left: 0;
  }
  .banner h1{
    font-size: 1.8rem;
    line-height: 1em;
    text-align: center;
  }
  .banner p{
    font-size: 1rem;
    text-align: center;
    width: 100%;
    padding: 1em .5em;
  }
}

@media screen and (min-width:769px) and (max-width:1024px){/*tablet*/
  .banner{
    left: 0;
  }
  .banner h1{
    font-size: 3rem;
    line-height: 1em;
    margin-left: 5%;
  }
  .banner p{
    font-size: 2rem;
    width: 75%;
    margin-left: 5%;  
  }
  .banner a{
    margin-left: 5%;  
  }
}



@media screen and (min-width:1025px) and (max-width:1700px){/*small screen laptop*/
  .banner{
    left: 0;
  }
  .banner h1{
    font-size: 3rem;
    padding: .5em .5em;
 
  }
  .banner p{
    font-size: 1.6rem;
    padding: 0 .5em;
    width: 100%;
  }
  
}


/************************************************ SERVICES ***********************************************************/

.container {
  width: 100%;
  height: 100%;
  padding: 0px 8%;
  padding-bottom: 10%;
}

.container h1 {
  text-align: center;
  margin-bottom: 60px;
  font-weight: 600;
  position: relative;
  font-family: 'Libre Baskerville', serif;
  padding-top: 5%;
  font-weight: 500;
  font-size: 3rem;
  color: #0F2763;
}

.container h1::after {
  content: '';
  background: #FFF44F;
  width: 100px;
  height: 5px;
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
}

.row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-gap: 30px;
}

.service {
  text-align: center;
  padding: 25px 10px;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  background: transparent;
  transition: transform 0.5s, background 0.5s;
}

.service i {
  font-size: 40px;
  margin-bottom: 10px;
  color: #0F2763;
}

.service h2 {
  font-weight: 600;
  margin-bottom: 8px;
}

.service:hover {
  background: #0F2763;
  color: #FFFF;
  transform: scale(1.05);
}

.service:hover i {
  color: #FFFF;
}
.service:hover p{
  color: #FFFF;
}





/*************************************************************** LOGO SLIDER *******************************************************************/

/************************************************* LOGO CAROUSEL ****************************************************/
p{
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.7;
}
.section{
  position: relative;
  width: 100%;
  display: block;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: center;
  justify-content: center;
}
.full-height{
  min-height: 100vh;
}


@media screen and (min-width:320px) and (max-width:480px){ /*mobile phone*/
  .sliding img {
    height: 100px !important;
    padding: 0 60px 0 60px;
    transition: all 0.8s ease;
}
}
@media screen and (min-width:481px) and (max-width:768px){/*ipad*/

}

@media screen and (min-width:769px) and (max-width:1024px){/*tablet*/

}

@media screen and (min-width:1025px) and (max-width:1700px){/*small screen laptop*/

}

.logo-carousel-container{
  text-align: center;
  justify-content: center;
  overflow-x: hidden;
  padding-top: 5%;
  background:#F1F1F1;
}
.wrapper {
    width: 100vw;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

.logo-carousel-container .border{
  border-bottom:5px solid #FFF44F;
  margin-left: 47%;
  margin-right: 47%;
}
  .logo-carousel-container h1{
    font-family: 'Libre Baskerville', serif;
    font-weight: 500;
    font-size: 3rem;
    color: #0F2763;
    padding: 0 20%;
  }
.slider {
    width: 100vw;
    height: 200px;
    position: relative;
    background: #F1F1F1;
    display: flex;
    overflow: hidden;
  }
.sliding {
    height: 200px;
    display: flex;
    align-items: center;
    animation: slideshow 60s linear infinite;
}
.sliding img {
    height: 150px;
    padding: 0 60px 0 60px;
    transition: all 0.8s ease;
}
.sliding img:hover {
  transform: scale(1.2) ;
   cursor: pointer;
}
  @keyframes slideshow {
    0% {transform: translateX(0);}
    100% {transform: translateX(-100%);}
  }
.slider::before, .slider::after {
    height: 200px;
    width: 200px;
    position: absolute;
    content: "";
    background: linear-gradient(to right, #F1F1F1 0%, rgba(255,255,255,0) 100%);
    z-index: 2;
}
.slider::before {
    left: 0;
    top: 0;
}
.slider::after {
    right:0;
    top:0;
    transform: rotateZ(180deg);
}













/******************************************************** HOW WE WORK *********************************************************/

.operation-container{
  text-align: center;
  justify-content: center;
  height: 100%;
  background-color: #FFFF;
  margin-bottom: 10%;
}
.operation-title{
  font-family: 'Libre Baskerville', serif;
  padding-top: 5%;
  font-weight: 500;
  font-size: 3rem;
  color: #0F2763;
}
.operation-container .border{
  border-bottom:5px solid #FFF44F;
  margin-left: 47%;
  margin-right: 47%;
}
.work-container{
  text-align: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}
.work{
  display: flex;
  text-align: center;
  justify-content:center ;
  width: 40%; 
  padding: 2%;
  margin: 3%;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  border-radius: 3px;
}
.work img{
  width: 30%;
  height: auto;
}
.work .work-description{
  padding: 0 3%;
}
.work h1{
  text-align: start;
}
.work p{
  text-align: justify;
}

@media screen and (max-width: 1000px) {
	.work-container{
    display: block;
  }
  .work{
    width: 95%;
  }
}










/********************************************************** CUSTOMER REVIEW **************************************************************/
/*

#reviews{
  background-color: #F1F1F1;
  padding: 0 2% 5% 2%;
}
#reviews .border{
  border-bottom:5px solid #FFF44F;
  margin-left: 47%;
  margin-right: 47%;
}
#reviews .container {
  max-width: 100%;
  padding: 0 !important;
}
#reviews .grid {
   flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  padding-top: 5em;
}
#reviews h1{
  font-family: 'Libre Baskerville', serif;
  font-weight: 500;
  font-size: 3rem;
  color: #0F2763;
  letter-spacing: .01em;
  padding-top:3em ;
  text-align: center;
}
#reviews .col {
  padding: 0;
  position: relative;
  background: #0F2763;
  transition: all 0.8s ease;
  border-radius: 4px;
  margin: 2px;
}
#reviews .col:hover {
  opacity: .8;
  background: #FFF44F;
}
#reviews img {
  width: 100%;
  height: auto;
  display: block;
  opacity: 0.15;
  filter: alpha(opacity=15);
}
#reviews .col:hover img {
  opacity: 0.04;
  filter: alpha(opacity=4);
}
#reviews .testText {
  position: absolute;
  top: 15%;
  left: 15%;
  right: 15%;
  bottom: 20%;
  opacity: 0;
  filter: alpha(opacity=0);
  color: #0F2763;
  
  -webkit-transition: all 0.5s ease;
transition: all 0.5s ease;
  
     display: -webkit-flex;
   display: -ms-flexbox;
   display: -webkit-box;
   display: flex;
   
   -webkit-flex-direction: row;
   -ms-flex-direction: row;
           -webkit-box-orient: horizontal;
           -webkit-box-direction: normal;
           flex-direction: row;
           
   -webkit-align-items: center;
   -ms-flex-align: center;
           -webkit-box-align: center;
           align-items: center;
           
   -webkit-justify-content: center;
   -ms-flex-pack: center;
           -webkit-box-pack: center;
           justify-content: center;
}
#reviews .testText .inner {
  position: relative;
  line-height: 1.4em;
}
#reviews .testText .inner:before {
  content: "\201C";
  font-family: 'Times New Roman', Times, serif;
  font-size: 4em;
  position: absolute;
  top: -5px;
  left: -15px;
  color: #0F2763;
}

#reviews .col:hover .testText {
  top: 5%;
  opacity: 1;
  filter: alpha(opacity=100);
}

#reviews .testName {
  position: absolute;
  top: 80%;
  left: 5%;
  right: 5%;
  bottom: 5%;
}
#reviews h4 {
  font-size: 1em;
  line-height: 2em;
  display: inline-block;
  color: #F1F1F1;
  text-transform: uppercase;
}
#reviews .col:hover h4{
  color: #0F2763;
}
#reviews h4 strong {
  color: #FFF44F;
}
#reviews .col:hover h4 strong {
  color: #0F2763;
}
*/
.reviews-container{
  background-color: #F1F1F1;
}
.reviews-container h1{
  font-family: 'Libre Baskerville', serif;
  font-weight: 500;
  font-size: 3rem;
  color: #0F2763;
  letter-spacing: .01em;
  padding-top:2em ;
  text-align: center;
}
.reviews-container .border{
  border-bottom:5px solid #FFF44F;
  margin-left: 47%;
  margin-right: 47%;
  margin-bottom: 2em;
}
.review{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;}.reviews{
  position: relative;
  width: 350px;
  height: 400px;
  background: #000;
  background: url('/images/aljon.jpg');
  background-size: cover;
  background-position: center;
  margin: 2% 2%;
  border-radius: 4px;
  transform: scale(1);
  transition: all 0.3s ease-in-out;
}

.hoverdiv{
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  padding: 24px;
  background-color: #0f2763e0 ;
  opacity: 0.5;
  color: #fff;
  opacity: 0;
  border-radius: 4px;
  transition: all 0.3s ease-out;
  box-sizing: border-box;
}

.reviews:hover .hoverdiv, .reviews:active .hoverdiv{
  opacity: 1;
}


.reviews:hover{
  transform: scale(1.03);
}
















/* ----------- SECTION 6 ICONS ------------ */

.testName .testIcon {
  width: 50px;
  height: 50px;
  display: inline-block;
  position: relative;
  margin-right: 10px;
  color: #FFF44F;
}
.testName .testIcon i{
  width: 50px;
  height: auto;
  transition: all 0.8s ease;
}
.col:hover .testName .testIcon i{
  color: #0F2763;
} 

/*-----------------------------------*/
/*-------------- GRID ---------------*/
/*-----------------------------------*/
.grid {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  -webkit-box-pack: justify;
  justify-content: space-between;

  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  margin: 5px;
  width: 100%;
}

.grid .col {
  padding: 10px;
  width: 25%;
}

.grid.small-gutter .col {
  padding: 5px;
}

.col-1 .col {
  width: 100%;
}

.col-2 .col {
  width: 50%;
}

.col-3 .col {
  width: 33.33333%;
}

.col-4 .col {
  width: 25%;
}

.col-5 .col {
  width: 20%;
}

.col-6 .col {
  width: 19%;
}

.grid .col-1 {
  width: 6.25%;
}
.grid .col-2 {
  width: 12.5%;
}
.grid .col-3 {
  width: 18.75%;
}
.grid .col-4 {
  width: 25%;
}
.grid .col-5 {
  width: 31.25%;
}
.grid .col-6 {
  width: 37.5%;
}
.grid .col-7 {
  width: 43.75%;
}
.grid .col-8 {
  width: 50%;
}
.grid .col-9 {
  width: 56.25%;
}
.grid .col-10 {
  width: 62.5%;
}
.grid .col-11 {
  width: 68.75%;
}
.grid .col-12 {
  width: 75%;
}
.grid .col-13 {
  width: 81.25%;
}
.grid .col-14 {
  width: 87.5%;
}
.grid .col-15 {
  width: 93.75%;
}
.grid .col-16 {
  width: 100%;
}

@media all and (max-width: 1400px) {
.col-5 .col {
  width: 40%;
}
  .col-5 .col:last-child {
    display: none;
  }
}

@media all and (max-width: 900px) {
.col-5 .col {
  width: 50%;
}
}

@media all and (max-width: 600px) {
.col-5 .col {
  width: 100%;
}
}




/********************************************************************** OUR TEAM *******************************************************************************/

.our-team-container{
  background-color: #FFFF;
}

.our-team-container h1{
  font-family: 'Libre Baskerville', serif;
  font-weight: 500;
  font-size: 3rem;
  color: #0F2763;
  letter-spacing: .01em;
  padding-top:3em;
  text-align: center;
}
.our-team-container .border{
  border-bottom:5px solid #FFF44F;
  margin-left: 47%;
  margin-right: 47%;
  margin-bottom: 5%;
}
.team{
  display: flex;
  justify-content: space-evenly;
  width: auto;
  text-align: center;
  flex-wrap: wrap;
  background-color: transparent;
  padding: 5% 0;
}
.team .team_member{
  background: #FFFF;
  margin: 10px;
  margin-bottom: 50px;
  width: 300px;
  padding: 20px;
  line-height: 20px;
  color: #11101D;  
  position: relative;
  border-radius:3px;

  transition: all 0.3s ease-in;
}

.team .team_member h3{
  color: #000;
  font-size: 26px;
  margin-top: 50px;
}

.team .team_member p.role{
  color: #0F2763;
  margin: 12px 0;
  font-size: 13px;
  font-weight:bold;
  text-transform: uppercase;
}

.team .team_member .team_img{
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #FFFF;
}

.team .team_member .team_img img{
  width: 100px;
  height: 100px;
  padding: 5px;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  transition: all 0.3s ease-in;
}
.team .team_member .team_img img:hover{
  transform: scale(1.3);
  cursor: pointer;
}

.team .team_member i{
  color: #0F2763;
  transition: all 0.6s ease-in;
}
.team .team_member i:hover{
  color: #FFF44F;
}

.credit{
  text-align: center;
  color: #000;
  font-family: "Poppins", sans-serif;
}

.credit a{
  text-decoration: none;
  color:#000;
  font-weight: bold;
}








/********************************************************************** FOOTER *******************************************************************************/
footer{
	bottom: 0;
}
@media (max-height:800px){
	footer { position: static; }
	header { padding-top:40px; }
}
.footer-distributed{
	background-color: #0F2763;
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 50px 50px 60px 50px;
	margin-top: 80px;
}
.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}
/* Footer left */

.footer-distributed .footer-left{
	width: 30%;
}
.footer-distributed h3{
	color:  #FFFF;
  font-size: 2rem;
  font-family: "Poppins", sans-serif;
	margin: 0;
}
/* The company logo */

.footer-distributed .footer-left img{
	width: 15%;
}
/* Footer links */

.footer-distributed .footer-links{
	color:  #FFFF;
	margin: 20px 0 12px;
}
.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}
.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */
.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  #FFF44F;
	color: #0F2763;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}
.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}
.footer-distributed .footer-center p{
	display: inline-block;
	color: #FFF44F;
	vertical-align: middle;
	margin:0;
}
.footer-distributed .footer-center p span{
	display:block;
  color: #FFFF;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}
.footer-distributed .footer-center .tel a{
	color: #FFFF;
  text-decoration: none;
}
/* Footer Right */
.footer-distributed .footer-right{
	width: 30%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #FFFF;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #FFF44F;
	border-radius: 2px;

	font-size: 20px;
	color: #0F2763;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}
@media (max-width: 880px) {

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}

